# *******************
# * Database Config *
# *******************
DATABASE_URL=postgresql://user:password@localhost:5432/raccoon_survey_db
DATABASE_ECHO=0

# ****************
# * Flask Config *
# ****************
FLASK_DEBUG=1
FLASK_ENV=development

# *****************
# * Server Config *
# *****************
HOST=0.0.0.0
PORT=3000
DEBUG=True
CORS_ORIGINS=http://localhost:3000

# ***************
# * JWT Config *
# **************
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=900
JWT_REFRESH_TOKEN_EXPIRES=2592000

# ***************
# * Log Config *
# ***************
LOG_LEVEL=development

# * ***************************
# * Default Admin Credentials *
# * ***************************
DEFAULT_USER_ADMIN_NAME=
DEFAULT_USER_ADMIN_EMAIL=
DEFAULT_USER_ADMIN_PASSWORD=
